*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.container{
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    background: white;
    text-align: center;
    border-radius: 5px;
 }

.count{
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}

input[type="text"]{
    display: block;
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    outline: none;
}


.text2{
    width: 40rem;
    text-align: center;
    padding: 100px;
}
