{% extends "base.html" %}

{% block title %}
แบบฟอร์มบันทึกข้อมูลประชาชน
{% endblock %}

{% block content %}

<style>
.form-card {
    max-width: 450px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow: hidden;
}

.form-header {
    background-color: #a54466;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.btn-save {
    background-color: #b33469;
    color: white;
}

.btn-clear {
    background-color: #386994;
    color: white;
}

</style>

<div class="card form-card">
    <div class="form-header">
        แบบฟอร์มบันทึกข้อมูลเข้าสู่ระบบ
    </div>

    <div class="card-body">
        <form method="post" action="/form/">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">ชื่อประชากร</label>
                <input type="text" class="form-control" name="name" placeholder="กรุณากรอกชื่อ-นามสกุล">
            </div>

            <div class="mb-3">
                <label class="form-label">อายุ</label>
                <input type="number" class="form-control" name="age" placeholder="กรอกข้อมูลอายุเป็นตัวเลข">
            </div>

            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-save">ลงทะเบียน</button>
                <button type="reset" class="btn btn-clear">ล้างข้อมูล</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}